<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>RECIPE SITE</title>
    <style>
        body{
            background-color: #e7d2cc;
        }
        h1{
            text-align: center;
            color: #868b8e;
        }
        .card{
                background-color: #eeede7;
        }
        button{
            background-color: #b9b7bd;
            color: #868b8e;
        }
        a{
            text-decoration: none;
            color: black;
        }
        
    </style>
</head>
<body>
    
    <div style="margin: 100px;">
        <h1>RECIPES</h1>
        <h2>Developed by Kavya Anil 22112016, 4 BSC DS</h2>
        {% for recipe in recipes %}

        <div class="card mb-3">
          
            <div class="card-body">
              <h5 class="card-title">{{recipe.dish}}</h5>
              <p class="card-text">{{recipe.time}}</p>
              <p class="card-text"><small class="text-muted">{{recipe.ingredients}}</small></p>
            </div> 
            <br>
         
            
            
          </div>

 {% endfor %}
          <button><a href="{% url 'myapp:enter_recipe' %}">Enter Recipe</a></button>

    </div>
